body {
	font-family: "Open Sans";
	padding: 0;
	margin: 0;
	background: #612323;
}

a[disabled] {
    pointer-events: none;
}

h1, h2 {
	color: #612323;
	margin: 0;
}

.code {
	font-family: monospace;
}

.codeblock {
	display: block;
	padding: 1.5em;
	margin: 0.4em;
	font-family: monospace;
	background: #222;
	color: #dedede;
}

.codeblock p {
	display: block;
}

.sub {
	font-size: 14px
}

table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
    border: 1px solid #db4343;
}

td, th {
	padding: 5px;
}

tr {
	padding: 0;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

a {
	text-decoration: none;
	color: inherit !important;
}

p {
	font-style: normal !important;
	display: inline;
}

.overview, .libraries, .usage, .navigation, .tutorials, .tutorial, .arguments, .methods, .syntaxes, .children, .parent, .variables, .inherits {
	padding: 0px;
	margin: 15px;
	background: #f9f9f9;
    border: 1px solid #444;
}

.navigation .con > *:first-child { display: inline-block;}
.navigation .con > *:last-child { float: right; }
.navigation .con * { font-weight: normal; color: black !important; }

th {
	background: #db4343;
	color: #fff;
}

h3 {
	font-size: 12px;
	color: #fff;
	font-style: italic;
	font-weight: 400;
	margin: 0;
	background: #444;
	padding: 4px;
}

.con {
	padding: 1em;
}

.navbar {
	background: #db4343;
	margin: 0;
	padding: 0;
	height: 25px;
	padding: 5px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 0px 10px #612323;
}

.navbar > a {
	text-decoration: none;
	color: #fff !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.child {
	font-family: monospace;
	font-size: 16px;
	text-decoration: none;
	color: #db4343 !important;
}

p {
	padding: 0;
	margin: 0;
}

.logo {
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
}